body{
    display: flex;
    background-color: #635147;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

h2#title{
    font-family: 'bitcount grid double';
    color: #E1AD21;
    font-size: 4ch;
    margin-top: 7vh;
}

div#cryption{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.crypt{
    display: flex;
    color: #E1AD21;
    border-style: solid;
    border-width: .75vh;
    border-color: #E1AD21;
    height: 4vh;
    width: 4vw;
    justify-content: center;
    align-items: center;
}

div.input_group{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#ciphered_text{
    margin-top: 10vh;
}

h4.label{
    color: #E1AD21;
    text-align: center;
}

p.ciphered_text{
    color: #E1AD21;
    width: 7vw;
    height: 4vh;
    border-style: solid;
    border-color: #E1AD21;
    text-align: center;
    border-width: .5vh;
}

.bitcount-grid-double-grid_font {
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}
